<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
            <a class="navbar-brand"><img src="../../assets/images/logo-conectados.svg" width="150px"> </a>

        </div>
</nav>
<!--BOTONERA NAVEGACIÓN-->
<div class="container">
        <button type="button" class="btn btn-success" [routerLink]="['/msjdir']" >Mensajeria</button>&nbsp;
        <button type="button" class="btn btn-primary" [routerLink]="['/informe']" >Reportes</button>&nbsp;
        <button type="button" class="btn btn-secondary" [routerLink]="['/personal']" >Personas</button>&nbsp;
        <!--BOTON COUTA SMS-->
        <ng-template #cuotaTip>
            Couta SMS restantes
        </ng-template>
        <button class="buttonT buttonRedondeo"[ngbTooltip]="cuotaTip"><i class="fa fa-comment-o"></i> 12</button> 
      </div>
<!--BOTON CONTACTO FLOAT -->
<button type="button" class="btn btn-primary float-top" data-toggle="modal" data-target="#contactoModal" >
    <div layout="row" layout-padding>
        <div flex><b><i class="material-icons">phone</i>+569 3587 2165</b><br></div>
        <div flex><b><i class="material-icons">mail</i>soporte@ahoraconectados.cl</b></div>
    </div>
</button>

<!--POP UP SUGERENCIAS-->
<div class="modal fade" id="contactoModal" tabindex="-1" role="dialog" aria-labelledby="contactoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <h5 class="modal-title" id="contactoModalLabel"><h1>Problemas Sugerencias</h1></h5>
            <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="form_contacto">¿Deseas reportar un incidente? ¿tienes una sugerencia?<br>ESCRIBENOS!</label>
                    <input type="text" class="form-control" id="form_contacto" required 
                    [(ngModel)]="sugerencias" name="form_contacto">
                </div>
            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="send()" >Enviar comentario</button>
                    <label>Tambien puedes escribirnos a soporte@ahoraconectados.cl o llamar al +569 3587 21 65</label>

              </div>
            </form>
            </div>
        </div>
</div>