
<!--BOTONERA NAVEGACIÓN
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
          <a class="nav-link">{{this.cuota}}
            <i class="fa fa-comments">                
            </i>
          </a>
        </ul>
          <a class="nav-link" [routerLink]="['/profile']"><i class="fa fa-user">                 
        </i>{{this.logged.nombre}} </a>
    </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Right</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
        </ul>
    </div>
</nav>-->
<nav class="navbar navbar-expand-md">
        <div class="navbar-collapse collapse" id="collapsingNavbar">
            <ul class="navbar-nav">
                <img src="../../assets/images/logo-conectados.svg" width="300px" >
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                        <a class="nav-link">{{(cuota$ | async) }}
                                <i class="fa fa-comments">                
                                </i>
                              </a>
                </li>
                <a class="nav-link" [routerLink]="['/profile']"><i class="fa fa-user">                 
                    </i>{{logged.nombre}} </a>
            </ul>
        </div>
    </nav>
<!--BOTON CONTACTO FLOAT -->
<button type="button" class={{estado}} (mouseover)="moverin()" (mouseleave)="moverout()" data-toggle="modal" data-target="#contactoModal" >
    <div class="sopo">
        <div flex class="sopo_end"><i class="fa fa-handshake-o"></i>  Soporte</div>
        <div flex class="sopo_end"><i class="material-icons">phone</i>  +569 3587 2165</div>
        <div flex class="sopo_end"><i class="material-icons">mail</i>  soporte@ahoraconectados.cl</div>
    </div>
</button>

<!--POP UP SUGERENCIAS-->
<div class="modal fade" id="contactoModal" tabindex="-1" role="dialog" aria-labelledby="contactoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="row"><h2>Problemas Sugerencias</h2><div>
            <form>
            <div class="modal-body">
                <div class="form-group">
                    <label for="form_contacto">¿Deseas reportar un incidente? ¿tienes una sugerencia?<br>ESCRIBENOS!</label>
                    <input type="text" class="form-control" id="form_contacto" required 
                    [(ngModel)]="sugerencias" name="form_contacto">
                </div>
            </div>
            <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success" data-dismiss="modal" (click)="send()" >Enviar comentario</button>
                    <label>Tambien puedes escribirnos a soporte@ahoraconectados.cl o llamar al +569 3587 21 65</label>

              </div>
            </form>
            </div>
        </div>
</div>
<ng-template #admin>
    {{logged.perfil}}
 </ng-template>
<ng-template #redmen>
    Redactar mensaje
 </ng-template>
<ng-template #repo>
    Reporte Reflexión Mensajes utilizados
 </ng-template>
<ng-template #perso>
    Administra tus listas de usuarios
 </ng-template>
<ng-template #cuotaTip>
    Couta SMS restantes
 </ng-template>
<ng-template #usuarioActivo>
    Session iniciada por {{this.logged.nombre}}
</ng-template>