<app-header></app-header>
<body>
<div class="col-2">
    <div class="bottom"><app-sidemenu></app-sidemenu></div>
</div>
<div class="col-10">
    <div class="bottom">
<H2><i class="fa fa-comment-o"></i>   <strong> ENVIAR </strong>SMS</H2>
<div class="col-12" >
  <div class="container" >     
      <div class="row"><strong>Paso 1 :  </strong ><i>  Escoge a tu destinatario</i></div>
        
  <label for="destinatario">Buscar Persona /// Seleccionar listado  :</label>
  <div class="input-group">
    <ng-select [searchable]="true" class="col-6"

        bindLabel="etiqueta"
        [clearable]=false
        placeholder="Seleccione destinatarios"
        (change)='filtrar($event)'
         [(ngModel)]="filtro" >
      </ng-select>
      <ng-select [searchable]="true" class="input-group-append col-6"
      [items]="subfiltros" [hidden]="ocultaSubFiltro"
      bindLabel="etiqueta"
      [clearable]=false
        placeholder="Refina selección destinatarios"
        (change)='subfiltrar($event)'
		[(ngModel)]="subfiltro" >
    </ng-select>
  </div>
  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#usersModal" >{{selected.length}} usuarios seleccionados</button>
   &nbsp;&nbsp;
  <span class="badge badge badge-danger" (click)="modificar('limpiar')" [ngbTooltip]="Limpiar">Borrar</span>
  </div><p></p>

  <div class="container" > 
      <div class="row"><strong>Paso 2 :  </strong ><i>  Selecciona una categoría</i></div>
        
  <div class="form-group">
    <label for="categoria">Este campo es obligatorio para continuar.</label>
    <ng-select [searchable]="true" 
              [items]="categorias" required
              bindLabel="categoria"
              placeholder="Seleccione categoria"
              [(ngModel)]="categoria" >
    </ng-select>
  </div>
  </div>
  <p></p>
  <div class="container" > 
      <div class="row"><strong>Paso 3 :  </strong ><i>  Escribe tu mensaje</i></div>
     
  <div class="form-group">
    
    <label for="mensaje">Escriba su mensaje:</label>&nbsp;
    <span class="badge badge badge-primary" placement="top" (click)="modificar('nombre')" [ngbTooltip]="InsertaNo" >Nombre</span>&nbsp; 
   
    <span class="badge badge badge-warning" placement="top" (click)="modificar('grupo')" [ngbTooltip]="InsertaBa" >Grupo</span>&nbsp; 
    <span class="badge badge badge-info" placement="top" (click)="modificar('at')" [ngbTooltip]="InsertaAt" >@</span>&nbsp; 
    <span class="badge badge badge-secondary" placement="top" (click)="modificar('firma')" [ngbTooltip]="InsertaFi" >Firma</span>
    <span class="badge badge badge-basic" placement="top" (click)="modificar('plantilla')" [ngbTooltip]="InsertarPLan" >Plantilla</span>
    <span class="badge badge badge-primary" placement="top"  [ngbTooltip]="InsertaAp" >?</span>&nbsp; 
    <textarea rows="5" class="form-control" required maxlength="160" [(ngModel)]="mensaje" placeholder="Escriba Mensaje"></textarea>
     {{mensaje.length}} carácteres usados de {{ 160 - mensaje.length }} restantes    &nbsp;&nbsp; <span class="badge badge badge-danger"(click)="modificar('borrar')" [ngbTooltip]="Borrar" >Borrar</span> 

    </div>
    </div>
    <p></p>
    <div class="container" > 
        <div class="row"><strong>Paso 4 :  </strong ><i>  Enviar o Programar mensaje</i></div>
       

    <div class="form-group">
      <button data-toggle="modal" data-target="#previewModal" class="btn btn-default" (click)='cambiarTexto()'
	  [disabled]="!((selected?.length>0)&&categoria&&mensaje)">{{fecha?'Programar':'Revisar'}}</button> &nbsp; 
      <label>Programar envío</label>&nbsp; 
      <input type="datetime-local"  [(ngModel)]="fecha" />
    </div>
    <div class="alert alert-danger" [hidden]="(selected?.length>0)&&categoria&&mensaje" >
      <span [hidden]="selected?.length>0"> Paso 1: Incompleto, Debe seleccionar destinatarios<br></span>
      <span [hidden]="categoria"> Paso 2: Incompleto, Debe seleccionar categoria<br></span>
      <span [hidden]="mensaje"> Paso 3: Incompleto,  Debe escribir mensaje</span>
    </div>
    </div>
</div>
</div>
</div>
</body>
<div class="modal fade" id="usersModal" tabindex="-1" role="dialog" aria-labelledby="usersModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row"><i class="fa fa-users"></i> <strong>Usuarios  </strong ><i> seleccionados</i></div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngx-datatable
          class="material"
          [rows]="newUsuarios"
          [headerHeight]="40"
          [footerHeight]="50"
          [rowHeight]="40"
          [loadingIndicator]="loadingIndicator"
          [limit]="50"
          [selected]="selected"
          [selectionType]="'checkbox'"
          (activate)="onActivate($event)"
          (select)='onSelect($event)'>
                <ngx-datatable-column class="material" [width]="20" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                        <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Nombre"[width]="110"></ngx-datatable-column>
                <ngx-datatable-column name="Apellido" prop='apellidoP' [width]="110"></ngx-datatable-column>
                <ngx-datatable-column [canAutoResize]="true" [width]="100" name="Género">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        {{value}} <span [innerHTML]="row['genero']"></span>
                     </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Grupo" prop='grupo' headerClass="textcentrado" cellClass="textcentrado"></ngx-datatable-column>
                <ngx-datatable-column [canAutoResize]="true" name="Organización" prop='organizacion' ></ngx-datatable-column>
                <ngx-datatable-column [canAutoResize]="true" name="Región" prop='region' ></ngx-datatable-column>
        </ngx-datatable>
                
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
        
<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="row"><strong>Paso 5 :  </strong ><i>  Confirmar y enviar</i></div>
    <div class="beige">Para: 
	    <select id="selector" [(ngModel)]="c2" (change)='cambiarTexto();' ><option *ngFor="let opt of selected; let i = index" [value]='i'  >{{opt.usuario}}</option></select>
    </div>  
    <div class="modal-body">
        <div class="speech-bubble">
          {{ cambio }}
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="enviarMensaje()" >Enviar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>


<ng-template #InsertarPLan>
    Insertar Plantilla Sugerida
 </ng-template>
<ng-template #InsertaFi>
  Al incluir (firma) en el mensaje, esta será reemplazada por la firma configurada en el perfil del administrador. Si el mensaje es muy largo, no se incluirá la firma en el mensaje
 </ng-template>
<ng-template #InsertaNo>
  Al incluir (nombre), este se reemplazará por el nombre de la persona correspondiente en cada mensaje enviado.
 </ng-template>
<ng-template #InsertaAp>
  Al seleccionar una de estas palabras, se reemplazan automáticamente por el dato que aparezca en la lista, para modificar su firma diríjase al perfil del administrador.
 </ng-template>
<ng-template #InsertaBa>
  Al incluir (grupo) se reemplazará por el nombre del grupo correspondiente en cada mensaje enviado
 </ng-template>
<ng-template #InsertaAt>
  Al incluir (@) al final de una palabra se cambiará por la letra "a", "o" correspondiente a cada género 
 </ng-template>
<ng-template #Borrar>
    Borrar Cuerpo del mensaje
 </ng-template>
<ng-template #Limpiar>
  Borrar destinatarios
</ng-template>