table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .col-centered{
    float: none;
    margin: 0 auto;
}
.float-left {
  position:fixed;
	width:160px;
	height:60px;
	bottom:-15px;
	right:5px;
	background-color:#0C9;
	color:#FFF;
	border-radius:25px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}