<app-header></app-header>
<body>
        <div class="col-2">
            <div class="bottom"><app-sidemenu></app-sidemenu></div>
        </div>
        <div class="col-10">
            <div class="bottom">
<div class="reportes">    
    <div class="row">
        <div class="col-6 centered">
                <button type="button" class="btn btn-primary " (click)='borrarFiltros()' >Borrar Filtros</button>&nbsp;

        </div>

    </div>
<div class="row">        
    <div class="col-3">
        <div [hidden]="!filtroBusqueda.nombreFecha"> Filtrando por {{filtroBusqueda.nombreFecha}}</div>
        <div [hidden]="filtroBusqueda.nombreFecha" >
            <canvas baseChart 
                    [data]="data_Chart_Mes"
                    [labels]="etiquetas_Chart_Mes"
                    [chartType]="pieChartType"
                    [colors]="pieChartColors"
                    [options]="opciones_Chart_Mes"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event,'mensual')">
            </canvas>
        </div>
    </div>
    <div class="col-3">
        <div [hidden]="!filtroBusqueda.nombreEstado"> Filtrando por {{filtroBusqueda.nombreEstado}}</div>
        <div [hidden]="filtroBusqueda.nombreEstado" >
            <canvas baseChart 
                    [data]="data_Chart_Estados"
                    [labels]="etiquetas_Chart_Estados"
                    [chartType]="pieChartType"
                    [colors]="pieChartColors"
                    [options]="opciones_Chart_Estados"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event,'estado')">
            </canvas>
        </div>
    </div>
    <div class="col-4">
        <div [hidden]="!filtroBusqueda.nombreCategoria"> Filtrando por {{filtroBusqueda.nombreCategoria}}</div>
        <div [hidden]="filtroBusqueda.nombreCategoria" >
            <canvas baseChart 
                [data]="data_Chart_Categoria"
                [labels]="etiquetas_Chart_Categoria"
                [chartType]="pieChartType"
                [colors]="pieChartColors"
                [options]="opciones_Chart_Categoria"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event,'categoria')">
            </canvas>
        </div>
    </div>
</div>

    <ngx-datatable
      style="width: 90%"
      class="material"
      [rows]="datarecibida"
	  [groupRowsBy]="'fechaOrdenable'"
      [columnMode]="'force'"
      [headerHeight]="40"
      [footerHeight]="50"
      [loadingIndicator]="loadingIndicator"
      [rowHeight]="'100%'"
      [groupExpansionDefault]="true"
      >
	  <ngx-datatable-group-header [rowHeight]="50" #myGroupHeader >
          <ng-template let-group="group" let-expanded="expanded" ngx-datatable-group-header-template>
            <div style="text-align : center;">
              
                 {{group.value[0].fecha}}
                                   
            </div>
          </ng-template>
        </ngx-datatable-group-header>
      <ngx-datatable-column name="Hora"[width]="35"></ngx-datatable-column>
      <ngx-datatable-column name="Grupo" prop="grupo"></ngx-datatable-column>
      <ngx-datatable-column >
          <ng-template let-column="column" ngx-datatable-header-template>Detalle
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
<button type="button" class="btn btn-primary " (click)='buscarDetalleMensajes(row)' data-toggle="modal" data-target="#detalleModal">{{row.total}} Destinatarios</button>
              
          </ng-template>
      </ngx-datatable-column>
      
      <ngx-datatable-column name="Categoría" prop="categoria"[width]="240"></ngx-datatable-column>
      <ngx-datatable-column name="Mensaje" [width]="240" >
	  <ng-template let-value="value" ngx-datatable-cell-template>
              <div>{{value}} </div>  </ng-template>
	  </ngx-datatable-column>
    </ngx-datatable>
</div>
</div>
</div>
</body>
<!--button type="button" class="btn btn-primary float-left" data-toggle="modal" data-target="#contactoModal"><b>Contactanos</b></button-->

 
<div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <h2 class="modal-title" id="detalleModalLabel">Detalle del Mensaje </h2>
        <div class="modal-body">
            <div class="container">
                <div class="beige row">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-5"><strong>Fundación</strong></div><div class="col-7">{{mensaje?.organizacion}}</div>
                        </div>
                        <div class="row">
                            <div class="col-5"><strong>Grupo</strong></div><div class="col-7">{{mensaje?.grupo}}</div>
                        </div>
                        <div class="row">
                            <div class="col-5"><strong>Mensajes Enviados</strong></div><div class="col-7">{{mensaje?.enviados}} de {{mensaje?.total}}</div>
                        </div>
                        <div class="row">
                            <div class="col-5"><strong>Programado</strong></div><div class="col-7">{{mensaje?.programado}}</div>
                        </div>
                        <div class="row">
                            <div class="col-5"><strong>Categoría</strong></div><div class="col-7">{{mensaje?.categoria}}</div>
                        </div>
                        <div class="row">
                            <div class="col-5"><strong>Enviador</strong></div><div class="col-7" *ngFor="let x of (mensajes ? mensajes.slice(0,2): [])">{{x.enviador}}</div>
                        </div>
                        <div class="row">
                            <div class="col-5"><strong>Fecha de Redacción:</strong></div><div class="col-7" >{{mensaje?.fechaCreacion | date: 'dd/MM/yyyy'}} a las {{mensaje?.fechaCreacion | date: 'HH:mm'}} hrs.</div>
                        </div>
                        <div class="row">
                            <div class="col-5"><strong>Fecha de Envio:</strong></div><div class="col-7" >{{mensaje?.fechaEnvio | date: 'dd/MM/yyyy'}} a las {{mensaje?.fechaEnvio | date: 'HH:mm'}} hrs.</div>
                        </div>
                    </div>

                </div>
            
            <div class=" beige row border">
                <div class="col-4"><strong>Destinatario</strong></div>
                <div class="col-4"><strong>Estado envio</strong></div>
                <div class="col-4"><strong>Celular</strong></div>
            </div>
            <div class="beige row border" *ngFor="let mensaje of mensajes" >
                    <div class="col-4">{{mensaje.cliente}}</div>
                    <div class="col-4">{{mensaje.estado}}</div>
                    <div class="col-4">buen estado</div>
                    <br>
                    <div class="row border">
                    <div class="col-10">{{cambiarTexto(mensaje.body, mensaje)}}</div>
                    <div class="col-10 font-weight-light font-italic">Recepción: {{mensaje.fechaRecepcion | date: 'dd/MM/yyyy HH:mm'}}</div></div>
            </div>
        </div>
        </div> <!-- close modal body -->  
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        </div> <!-- close modal footer -->
      </div> <!-- close modal content -->
    </div> <!-- close modal dialog -->
</div> <!-- close modal  -->
  

      