
<div class="container">
    <button type="button" class="btn btn-success" [routerLink]="['/msjdir']" >Mensajeria</button>&nbsp;
    <button type="button" class="btn btn-primary" [routerLink]="['/msjgrupal']" >Reportes</button>&nbsp;
    <button type="button" class="btn btn-secondary" [routerLink]="['/informe']" >Informe</button>&nbsp;
    <button type="button" class="btn btn-secondary" [routerLink]="['/ingresapersona']" >Personas</button>&nbsp;
    </div>
    <br/>
    <br/>
  <p>
  reporte de envios
</p>
