<div class="wrapper">
  <!-- Sidebar -->
  
  <nav id="sidebar">
      
      <ul>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile']"><i class="fa fa-user">                 
        </i>{{this.logged.nombre}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/mensajes']"><i class="fa fa-comment-o">                 
        </i>Mensajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/reportes']" data-toggle="dropdown"><i class="fa fa-area-chart">                 
        </i>Reportes</a>
        </li>
        <li class="nav-item"*ngIf="logged.perfil=='admin'">
          <a class="nav-link" [routerLink]="['/personas']"><i class="fa fa-user-circle-o">                 
        </i>Personas</a>
        </li>

        <li class="nav-item" *ngIf="logged.perfil=='admin'">
          <a class="nav-link" [routerLink]="['/perfiles']"><i class="fa fa-vcard-o">                 
        </i>Perfiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"(click)='logout()'><i class="fa fa-sign-out">                 
        </i>Salir</a>
        </li>
      </ul>
  </nav>

</div>