.wrapper {
    margin-top: 50px;
    width: 100%;

}

.nav-item {
    background-color: #4F0D2F;
    padding: -50px 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}
.nav-link{
    background-color: #4F0D2F;
    color: #fff;
    text-decoration: none;
}

.nav-link i {
    color: #fff;
    padding: 0px 15px;
}

