.mt-0 {
    margin-top: 0 !important;
  }
  
.ml-1 {
    margin-right: (5%) !important;
  }
  html {
    height: 100%;
}

    body {
  
        overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
        flex-grow: 1;
        display: flex;

    }
    
    .logo{
        width: 100%;
        align-items: center;
        padding: 20px 25px;
    }
    
    .bottom {
        
        flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
        /*overflow-y: auto;  adds scroll to this container*/
    }
    .button #btnElement{
        padding: 50px 50px;
    }
    .ngx-datatable-row {

        vertical-align: top;
        border-top: 1px solid #0054a8;
     }
     :host-context(.ngx-datatable){
         background-color: #0054a8;
     }
     .h2 i {
        padding: 10px 30px;
    }
    .button {
        padding: 50px 50px;
    }
    .beige{
        padding: 20px;
        background-color: beige
    }
    .modal-title i{
        padding: 0px 10px;
    }
    .modal-header {
        background-color: #878787;
        color: #fff;
        padding: 15px 30px;
    }
    .modal-body .ngx-datatable{
        background-color: beige;
    }
    .modal-body .ngx-datatable header{
        background-color: yellow;
    }
    
    .modal-title {
        background-color: #878787;
        color: #fff;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 10px 20px;
        }
    .row i {
        padding: 0px 10px;
    }
    .container{
        border: 2px;
        color: #fff;
        border-color: black;
        border-radius: 5px;
        background-color: beige;
        padding-bottom: 10px;
        }
    
