
  <div>
    <ngx-datatable
        style="width: 90%"
        class="material"
        [rows]="usuarios"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="50"
        [rowHeight]="40"
        [loadingIndicator]="loadingIndicator"
        [limit]="10"
        >
      <ngx-datatable-column name="Organizacion"></ngx-datatable-column>
      <ngx-datatable-column name="Barrio"></ngx-datatable-column>
      <ngx-datatable-column name="Genero"></ngx-datatable-column>
      <ngx-datatable-column name="Nombre"></ngx-datatable-column>
      <ngx-datatable-column name="Telefono"></ngx-datatable-column>
    </ngx-datatable>
  </div>
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ingresoModal" >Agregar nuevo Usuario</button>

     
<div class="modal fade" id="ingresoModal" tabindex="-1" role="dialog" aria-labelledby="ingresoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <h5 class="modal-title" id="ingresoModalLabel">Ingreso usuario </h5>
        <div class="modal-body">
            <div class="row">
              <div class="col-sm-4">
                    <label for="nombre">Nombre</label>
                    <input type="string" required class="form-control" id="nombre" [(ngModel)]="newUser.nombre" placeholder="Ingrese nombre"/>
                    <!-- <div class="alert alert-danger" [hidden]="nombre">Valor Requerido</div> -->
              </div>
              <div class="col-sm-4">
                    <label for="apellidoP">Apellido Paterno</label>
                    <input  type="string" required class="form-control" id="apellioP" [(ngModel)]="newUser.apellidoP" placeholder="Ingrese Apellido Paterno"/> 
              </div>
              <div class="col-sm-4">
                    <label for="apellidoM">Apellido Materno</label>
                    <input  type="string" required class="form-control" id="apellidoM" [(ngModel)]="newUser.apellidoM" placeholder="Ingrese Apellido Materno"/> 
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                    <label for="genero">Genero:</label>
                    <ng-select [searchable]="false" 
                      [items]="generos" required
                      [multiple]="false"
                      [(ngModel)]="newUser.genero"
                      id="genero"
                      placeholder="Seleccione genero" >
                    </ng-select>
                </div>
              <div class="col-sm-4">
                    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                    <input  type="date" required class="form-control" [(ngModel)]="newUser.fechaNacimiento"/> 
              </div>
              <div class="col-sm-4">
                    <label for="mail">Mail:</label>
                    <input  type="mail" required class="form-control"[(ngModel)]="newUser.email" placeholder="Ingrese Mail"/> 
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                    <label for="telefono">Teléfono:</label>
                    <input type="number" required class="form-control"[(ngModel)]="newUser.telefono" placeholder="Ingrese Telefono" minlength="9" maxlength="9"/>
              </div>
              <div class="col-sm-4">
                    <label for="organizacion">Seleccione Organizacion:</label>
                    <ng-select [searchable]="true" 
                        [items]="organizaciones" required
                        bindLabel="nombre"
                        bindValue="id"
                        id="organizacion"
                        [multiple]="false"
                        placeholder="Seleccione organizacion"
                        [(ngModel)]="organizacion"  
                        (ngModelChange)="buscaBarrio($event)" >
                    </ng-select>
              </div>
              <div class="col-sm-4">
                    <label for="barrio">Seleccione Barrio:</label>
                    <ng-select [searchable]="true" 
                        [items]="barrios" required
                        bindLabel="nombre"
                        bindValue="id"
                        id="barrio"
                        [multiple]="false"
                        placeholder="Seleccione barrio"
                        [(ngModel)]="newUser.id_barrio" >
                      </ng-select>
              </div>
            </div>
        </div> <!-- close modal body -->  
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="ingresaUsuario()"  >Guardar</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        </div> <!-- close modal footer -->
      </div> <!-- close modal content -->
    </div> <!-- close modal dialog -->
</div> <!-- close modal  -->
  