<div class="wrapper">

        <div class="col-lg-3 col-centered">
            <a class="navbar-brand centerT col-centered"><img src="../../assets/images/logo-conectados.svg" width=  "350px"> </a>

    </div>
    <div class="row col-lg-3 col-centered">
        <p>
                <br>    
        </p>
    <div class="col">
        <p class="text ">INICIAR SESIÓN</p>
    </div>
</div>
    <div class="bei col-lg-3 col-centered">

    <div class="col-centered bei">
        
        <div class="col">
            <p>
                    <br>    
            </p>
          <form (submit)="loginUser()">
            <div class="input ">
               
                <input type="text col-centered" [(ngModel)]="ingreso.usuario" [ngModelOptions]="{standalone: true}" placeholder="Usuario">
              </div>  
            <div class="input">
           
                  <input type="password" [(ngModel)]="ingreso.pass" [ngModelOptions]="{standalone: true}" placeholder="Password">
                <p></p>
            </div>
            <button type="button" class="btn btn-link btn-block">¿Olvidó su Contraseña?</button>
            <div class="bot_ing col-centered bei">
                <input type="submit" value="Ingresar">
                <p>
                    <br>    
            </p>
                </div>
            
          </form>
        </div>
    </div>
    </div>
</div>