<div class="wrapper">

        <div class="col-lg-2 col-centered">
            <a class="navbar-brand centerT col-centered"><img src="../../assets/images/logo-conectados.svg" width="200px"> </a>

    </div>
    <div class="bei col-lg-2 col-centered">
    <div class="row col-centered">
        <div class="col">
            <p class="text ">INICIAR SESIÓN</p>
        </div>
    </div>
    <div class="col-centered bei">
        
         
          <form (submit)="loginUser()">
            <div class="input ">
                <label col-centered>Usuario</label>
                <input type="text col-centered" [(ngModel)]="ingreso.usuario" [ngModelOptions]="{standalone: true}" placeholder="Usuario">
              </div>  
            <div class="input">
                  <label>Password</label>
                  <input type="password" [(ngModel)]="ingreso.pass" [ngModelOptions]="{standalone: true}" placeholder="Password">
                <p></p>
            </div>
                
            <div class="col-centered bei">
                <input type="submit" value="Ingresar">
                </div>
            
          </form>
    </div>
    </div>
</div>