
<div class="container">
    <button type="button" class="btn btn-success" [routerLink]="['/msjdir']" >Mensajeria</button>&nbsp;
    <button type="button" class="btn btn-primary" [routerLink]="['/msjgrupal']" >Reportes</button>&nbsp;
    <button type="button" class="btn btn-secondary" [routerLink]="['/informe']" >Informe</button>&nbsp;
    <button type="button" class="btn btn-secondary" [routerLink]="['/ingresapersona']" >Personas</button>&nbsp;
    </div>
    <br/>
    <br/>

<div class="row">
  <div class="col-md-12 col-centered">
      <div class="card mb-1">
          <div class="card-header">
              <div class="form-group">
                  
                  Ingresar Persona<br>
                  <div class="row">
                    <div class="col-sm-4">
                        Nombre <input  type="string" class="form-control"[(ngModel)]="nombre" placeholder="Ingrese nombre"/>
                    </div>
                    <div class="col-md-5">
                        Apellidos<input  type="string" class="form-control"[(ngModel)]="apellido" placeholder="Ingrese Apellido"/> 
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-2">
                          <div class="form-group">
                            <!--label for="genero">Sexo:</label-->
                            Sexo:
                            <ng-select [searchable]="false" 
                              [items]="generos"
                              [searchFn]="customSearchFn"
                              [multiple]="false"
                              [(ngModel)]="genero"  
                              placeholder="Seleccione genero"
                              [ngModelOptions]="{standalone: true}" >
                            </ng-select>
                          </div>
                        </div>
                      <div class="col-md-4">
                          Fecha de nacimiento<input  type="date" class="form-control"[(ngModel)]="fecha_nacimiento"/> 
                      </div>
                  </div>
                  <div class="row">
                      <br>
                    <div class="col-sm-5">
                      <div class="form-group">
                          <label for="organizacion">Seleccione Organizacion:</label>
                          <ng-select [searchable]="true" 
                            [items]="organizaciones2"
                            bindLabel="organizaciones"
                            [searchFn]="customSearchFn"
                            [multiple]="false"
                            placeholder="Seleccione organizacion"
                            [(ngModel)]="seleccionados"  
                            [ngModelOptions]="{standalone: true}"
                            (ngModelChange)="buscaBarrio($event)" >
                              <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                <div><span [ngOptionHighlight]="search">{{item}}</span></div>
                              </ng-template>
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group">
                            <label for="barrio">Seleccione Barrio:</label>
                            <ng-select [searchable]="true" 
                              [items]="barrios"
                              bindLabel="barrios"
                              [searchFn]="customSearchFn"
                              [multiple]="false"
                              placeholder="Seleccione barrio"
                              [(ngModel)]="seleccionadosb"  [ngModelOptions]="{standalone: true}" >
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                  <div><span [ngOptionHighlight]="search">{{item}}</span></div>
                                </ng-template>
                            </ng-select>
                        </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                     Teléfono <input  type="string" class="form-control"[(ngModel)]="telefono" placeholder="Ingrese Telefono" maxlength="11"/>
                    </div>
                    
                    <div class="col-md-4">Mail<input  type="mail" class="form-control"[(ngModel)]="mail" placeholder="Ingrese Mail"/> 
                    </div>

                  </div>

                  <div class="row">
                     <div class="col-sm-2 .col-centered">
                        <button class="btn btn-info btn-sm" (click)="crear_Persona(nombre,apellido,telefono,genero,mail,fecha_nacimiento)">Agregar persona</button>
                      </div>
                  </div>
            </div>
          </div>
      </div>
  </div>
</div>
<!--pre>{{organizaciones2|json}}</pre-->