<app-header></app-header>
<body>
    <div class="col-2">
        <div class="bottom"><app-sidemenu></app-sidemenu></div>
    </div>
    <div class="col-10">
        <div class="bottom">



      
 <div class="row-a"><strong>Perfil      :</strong ><i>  {{logged.nombre}} </i> //  Tipo : <i>{{logged.perfil}} </i></div>
<div class="row-b">
  <div class="row" > 
    <div class="col-sm-3">
        <button type="button" class="btn btn-link btn-block"><i class="fa fa-user-circle-o" style="font-size:150px;color:#672146;;"></i></button>
    </div>
    <div class="col-sm-6">
    <h2>{{logged.nombre}} <b> {{logged.apellido}}</b></h2> <p></p>
        
        <p *ngFor="let c of cantidades;" > Mensajes {{c.estado}}s este mes {{c.valor}}</p>
        <p *ngIf="cantidades?.length == 0"> Sin Mensajes creados este mes</p>
        <div class="espacio">Perfil      :<span> {{logged.perfil}} </span></div>
        <div class="espacio" *ngFor="let f of firmas">Firma {{f.grupo}}:<span>{{f.firma}}</span></div>
        <div class="espacio" *ngIf="logged.perfil=='user'">Meta :<span>{{logged.meta}}</span></div>
        <div class="espacio" *ngIf="logged.perfil=='user'">Contrato :<span>{{logged.contrato}}</span></div>
        <div class="espacio" *ngIf="logged.perfil=='user'">Mensajes Comprados :<span *ngFor="let c of compras">{{c.cantidad}} el {{c.cuando}}</span></div>
        <div class="espacio" *ngIf="logged.perfil=='user'">Cuota SMS disponibles :<span>{{(cuota$ | async) }}</span></div>



    </div>
    

   <button type="button" class="btn btn-link btn-block" (click)="muestraModal(claveModal)" >Cambiar Contraseña</button>
<!--   <button type="button" *ngIf="logged.perfil=='admin'" class="btn btn-link btn-block">Crear Meta</button>  -->
</div>
</div>
</div>
</div>
</body>


<ng-template #claveModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Modifica Contraseña</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #userForm="ngForm"  novalidate>
        <div class="row">
            <div class="col-6 offset-3">
                  <label for="clave">Ingrese Clave Original</label>
                  <input type="password" required class="form-control" id="antigua" name="antigua" [(ngModel)]="cambio.antigua" placeholder="Ingrese Clave Original"/>
                  <label for="clave">Ingrese Nueva Clave</label>
                  <input type="password" required class="form-control" id="clave" name="clave" [(ngModel)]="cambio.nueva" placeholder="Ingrese Nueva Clave"/>
                  <label for="reclave">Reingrese Nueva Clave</label>
                  <input type="text" required class="form-control" id="reclave" name="reclave" [(ngModel)]="cambio.repite" placeholder="Reingrese Nueva Clave"/>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="elimina()"  >Modifica</button>      
      <button type="button" class="btn btn-light" (click)="d('Cross click')">Cancelar</button>
    </div>
  </ng-template> 