<div class="container">
    <h2>Bienvenido a Plataforma Conectados</h2>
    <button type="button" class="btn btn-success" [routerLink]="['/msjdir']" >Mensaje Directo</button>
    <button type="button" class="btn btn-warning" [routerLink]="['/msjgrupal']" >Mensaje Grupal</button>
    <button type="button" class="btn btn-primary" [routerLink]="['/']" >Programar Mensaje</button>
    <button type="button" class="btn btn-success" [routerLink]="['/personal']" >Personas</button>
    <button type="button" class="btn btn-success" [routerLink]="['/ingresa-persona']" >+ Personas</button>
    </div>
    